body {
    text-align: center;
    background: linear-gradient(#FA8352 0%, #8FD4F4 100%);
}

img {
    border-radius: 50%;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 17px;
}

    .menu {
        z-index: 10;
        top: 10px;
        right: 30px;
        position: absolute;
        cursor: pointer;
        list-style:none; 
    }
.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font size 20px;
